<link rel="stylesheet" href="/stylesheets/carousel.css">
<link rel="stylesheet" href="/stylesheets/carousel.css.map">

</head>
<%- include('includes/head') %>
<body>
    <%- include('includes/navbar') %>

    <%- include('includes/carousel') %>

    <%- include('blog') %>

    <%- include('products') %>

    <%- include('includes/footer') %>
</body>
</html>
